
    .icon {
      left: 50%;
      right: 50%
    }

      
    span {
      position: fixed;
      right: 0%;
      left: 0%;
      bottom: 5%;
      width: 100%;
      text-align: center;
      color: darkgray;
    }

    div.icon-image{
      position: relative;
      right: 0;
      left: -50%;
      bottom: 0;
      width: 100%;
    }   

    div.icon-image:hover{
      background-color: white;
      outline-color: pink;
    }

